html,
      body {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin: 0;
        min-height: 180px;
        padding: 0px 0px 10px 0px;
        width: 380px;
      }

      h1 {
        font-family: "Menlo", monospace;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        color: #2f5876;
      }

      a:link,
      a:visited {
        color: #000000;
        outline: 0;
        text-decoration: none;
      }

      img {
        width: 30px;
      }

      .modal-header {
        align-items: center;
        border-bottom: 0.5px solid #dadada;
      }

      .main-content {
        padding: 10px 22px 0px 22px;
      }

      .modal-icons {
        border-top: 0.5px solid #dadada;
        height: 50px;
        width: 100%;
      }
      .site-form {
        width: 100%;
        display: flex;
        align-items: center;
      }

      #site-input {
        width: 75%;
      }

      #site-space {
        width: 3%;
      }

      #site-add-btn {
        width: 22%;
      }

      .sites-list {
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .logo {
        padding: 16px;
      }

      .logo-icon {
        vertical-align: text-bottom;
        margin-right: 12px;
      }

      .version {
        color: #444;
        font-size: 11px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 22px;
      }

      .flex {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        width: 120px;
      }

      .flex:hover {
        opacity: 0.4;
      }

      .flex .fa {
        font-size: 40px;
        color: #2f5876;
      }

      /* Form */
      #site-input {
        margin-bottom: 3px;
      }